.body-bg{
    background-color: orange;
}

.height-custom{
    min-height: 60vh;
}

.text-custom{
    color: orange !important;
}

.mt-custom{
    margin-top: 200px;
}

.ms-custom{
    margin-left: 100px;
}

.dropdown-menu {
    min-width: 1rem !important;
    margin-left: 75px !important;
}

.custom-btn:hover{
    background-color: rgba(255, 166, 0, 0.433) !important;
}

.custom-placeholder::placeholder {
    color: orange !important;
}

.card-w{
    width: 250px;
}

.card-body-bg{
    background-color: rgb(164, 245, 177);
}

.carousel-text{
    background-color: rgba(0, 0, 0, 0.533);
}