.body-bg{
    background-color: orange !important;
}

.height-custom{
    min-height: 60vh;
}

.text-custom{
    color: orange !important;
}

.mt-custom{
    margin-top: 200px;
}

.ms-custom{
    margin-left: 100px;
}

.dropdown-menu {
    min-width: 1rem !important;
    margin-left: 75px !important;
}

.custom-btn:hover{
    background-color: rgba(255, 166, 0, 0.433) !important;
}

.custom-placeholder::placeholder {
    color: orange !important;
}

.form-control::file-selector-button{
    background-color: orange !important;
}

.img-preview{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 120px;
    width: 120px;
}

.card-w{
    width: 250px;
}

.card-body-bg{
    background-color: rgb(164, 245, 177);
}

.custom-carousel {
    max-width: 350px; 
    margin: auto;     
}

.custom-carousel .carousel-item img {
    max-height: 300px; 
    object-fit: cover; 
}

.carousel-text{
    background-color: rgba(0, 0, 0, 0.533);
}